@import "./index.scss";

* {
  margin: 0px;
  padding: 0px;
  font-family: $fontPrimary;
  color: var(--white);
}

header {
  background-color: var(--blue200);
  width: 100%;
  height: 60px;
  img {
    width: 120px;
    padding-top: 10px;
    padding-left: 20px;
  }
}

body {
  background: linear-gradient(var(--blue200), var(--blue100));
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 40px;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background: linear-gradient(
    180deg,
    rgba($colorBlue200, 0.5) 0%,
    $colorBlue100 98.96%
  );
}
